<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Blog App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto navbar-nav nav-fill w-50">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerActive='active'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerActive='active'>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerActive='active'>Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>