<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-primary">{{heading}}</h1>
    <p class="lead">A generic blog app which really does nothing. Simple.</p>
    <hr class="my-4">
    <p>As claimed above, this is nothing.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more</a>
    </p>
  </div>
  <div class="card-deck">
    <div class="card" *ngFor='let blog of allBlogs'>
      <img class="card-img-top" src="{{blog.imgUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted font-italic">Posted by <span [style.color]='blog.author' class="font-weight-bold">{{blog.author}}</span></h6>
        <small class="blockquote-footer mb-3 font-italic text-primary">Created: {{blog.created | date }}</small>
        <small class="card-text">{{blog.description | slice:0:60}}...</small>
        <h6 class="text-muted font-weight-light mt-3">Category: {{blog.category}}</h6>
        <a [routerLink]="blog.url" class="btn btn-outline-primary btn-sm">View Post</a>
      </div>
    </div>
  </div>
  <h3 class="text-danger text-center" *ngIf="errorMessage">Sorry, there is an {{errorMessage}}</h3>
</div>
